html,body {
    height: 100%;
    overflow-x: hidden;
}

@font-face {
    src: url('/fonts/WorkSans.ttf');
}

.dashboard-page {
    display: flex;
    height: 100%;
}

.dashboard-page  h6{
    font-size: 0.9rem;
}

:root {
    --color-15306b: #15306b;
    --color-f3f3f3: #f3f3f3;
    --color-303030: #303030;
    --font-work-sans:"Work Sans", sans-serif;
    --font-work-sans-regular:"Work Sans - Regular 400;
}

.login-page {
    min-height: 100vh;
    height: 100%;
    background-color: var(--color-f3f3f3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.dashboard-page-left .username {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #ffffff;
    font-family: var(--font-work-sans);
    font-size: 15px;
    margin-top: 15px;
    font-weight: 400;
}

.dashboard-page-left {
    z-index: 2;
    width: 200px;
    height: 100%;
    background-color: var(--color-15306b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 40px;
}

.dashboard-page-right .logout {
    float: right;
}

.dashboard-page-right .logout .col-md-7 {
    margin-top: -3px;
}


.new-apostil-user .close-modal a {
    float: right;
}

.dashboard-page-right .header{
    background-color: var(--color-f3f3f3);
    height: 5%;
}
.dashboard-page-right .header .col-md-11 {
    padding: 0.6% 0.6% 0.6% 2.6%;
}
.dashboard-page-right .header .col-md-1 {
    padding: 0.6% 0.6% 0.6% 0
}

.dashboard-page-right input,select {
    border: 0;
    background-color: var(--color-f3f3f3);
}
.login-page .emblem img {
    height: auto;
    max-width: 10%;
}

.dashboard-page-left .emblem img {
    height: auto;
    margin-top: 9px;
    max-width: 23%;
}

.dashboard-page-left .profile-photo img {
    margin-top: 50px;
    height: auto;
    max-width:18%;
}

.login-page .emblem-text h6{
    margin-top: 30px;
    color: var(--color-303030);
    font-family: var(--font-work-sans);
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.delete-all-selected-document {
    max-width: 600px;
}

.dashboard-page-left .emblem-text h6{
    margin-top: 25px;
    color: #ffffff;
    font-family: var(--font-work-sans);
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.apostil-reyestr [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.dashboard-page-right {
    width: calc(100% - 200px);
    color: #15306b;
    align-items: center;
    justify-content: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-family: var(--font-work-sans);
    font-size: 20px;
    font-weight: 400;

}

.login_form--header {
    color: var(--color-15306b);
    font-size: 24px;
    font-weight: 400;
    height: calc(100% - 930px);
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.login_form {
    margin-top: 20px;
}

.login-center {
    margin-top: 20px;
}

.login-center h6 {
    text-align: start;
    margin-left: 55px;
    line-height: normal;
    color: #000000;
    font-size: 16px;
    font-family: var(--font-work-sans);
}

.dashboard-page-right .search-bar {
    background-color: #FFFFFF;
    border: 1px solid var(--color-f3f3f3)
}

.dashboard-page-right .search-bar .buttons {
    padding: 16px 0px 10px 36px;
}

.dashboard-page-right .search-bar .buttons-and-icons{
    padding: 16px 30px 10px 33px;
}

.dashboard-page-right .new-apostil {
    background-color: #FFFFFF;
    height: 10%;
}

.line {
    width: 90%;
    border: 1px solid  var(--color-f3f3f3);
    margin-bottom: 1%;
    margin-left: 9.5%;
}

select option {
    font-size: 18px;
    color: #8e8e8e;
    background-color: var(--color-f3f3f3);
}

 select option:hover {
    color: #FFFFFF;
    background-color: var(--color-15306b) !important;
}

.dashboard-page-right .new-apostil .new-apostil-title {
    padding: 0px 0px 0px 120px;
    margin-top: 2%;
}

.dashboard-page-right .new-apostil-user {
    background-color: #FFFFFF;
}

.dashboard-page-right .new-apostil-user .close-modal {
    padding: 0px 25px 0px 25px;
}

.dashboard-page-right .new-apostil-user .content {
    padding: 0px 64px 20px 63px
}

.dashboard-page-right .new-apostil-create {
    background-color: #FFFFFF;
    padding: 23px 43px 0px 70px;
}

.dashboard-page-right .apostil-info {
    padding: 13px 0px 10px 300px;
}

.dashboard-page-right .apostil-info input{
    height: 31px;
    width: 250px;
    padding: 10px;
    font-size: 13px
}

.dashboard-page-right .apostil-info select{
    height: 31px;
    width: 250px;
    padding: 0px 6px;
    font-size: 13px;
    border:0px;
    outline:0px;
}

.dashboard-page-right .apostil-info label{
    font-size: 15px;
    color: var(--color-303030);
    margin-right: 6px;
    width: 230px;
    text-align: end;
}

.dashboard-page-right .apostil-info .col-md-6, .col-md-12{
    padding: 8px 5px;
}

.dashboard-page-right .apostil-info .qeydler input{
    width: 69%;
}

.dashboard-page-right .apostil-info .qisa-mezmun input{
    height: 80px;
    width: 69%;
    padding: 5px 15px 54px 8px !important;
}

.bashliq h6
{
    padding: 8px 0px;
}

.pcht-label {
    font-size: 14px;
    margin-top: 9px;
    color: var(--color-303030);
}

.dashboard-page-right .pocht{
    float: right;
    width: 5% !important;
}

.dashboard-page-right .new-apostil-create .space{
    background-color: var(--color-15306b);
    width: 100%;
    height: 37px;
    padding: 8px 30px;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 14px;
}


.dashboard-page-right .new-apostil-create .spaceUser{
    background-color: var(--color-15306b);
    width: 100%;
    height: 37px;
    padding: 8px 30px;
    font-size: 16px;
    color: #FFFFFF;
}

.dashboard-page-right .new-apostil-create input ,select{
    height: 87%;
    width: 80%;
    font-size: 13px;
    padding: 0px 17px;
}

.dashboard-page-right .new-apostil-user input{
    height: 87%;
    width: 100%;
    font-size: 13px;
    padding: 0px 17px;
}

.dashboard-page-right .new-apostil-user select{
    width: 100%;
}

.dashboard-page-right .new-apostil-user .senedin-tipi-select{
    width: 58.1%;
}

.dashboard-page-right .new-apostil-user .dogum-tarixi {
    width: 26%;
}

.dashboard-page-right .new-apostil-user .vetendashligi {
    width: 31%;
}

.dashboard-page-right .new-apostil-user .qohumluq-derecesi {
    width: 31%;
}

.dashboard-page-right .new-apostil-user .vezifesi {
    width: 31%;
}
.dashboard-page-right select *
{
    border-radius: 15px;
    padding: 0px 0px 0px 0px;
    background-color: var(--color-f3f3f3);
}

.dashboard-page-right .new-apostil-user .ePocht {
    width: 31%;
}

.dashboard-page-right .new-apostil-user .elaqeTelefonu {
    width: 31%;
}

.dashboard-page-right .new-apostil-user .verilme-tarixi {
    width: 84%;
}

.dashboard-page-right .datepicker-apostil{
    background:url('/files/icons/calendar.png') no-repeat right 4% center;
    background-size: 19px;
    background-color: var(--color-f3f3f3);
}

/*.dashboard-page-right .new-apostil-user select{*/
/*    width: 100%;*/
/*}*/

/*.dashboard-page-right .ishtirakchi-novu select{*/
/*    width: 88.7%*/
/*}*/

/*.dashboard-page-right .senedin-tipi select{*/
/*    width: 58.1%;*/
/*}*/

.dashboard-page-right .new-apostil-user .shv-axtar{
    border: 0;
    font-size: 16px;
    height: 86%;
    padding: 0px 25px;
    color: white;
    background-color: #15306b;
}

.dashboard-page-right .new-apostil-create .metnDaxilEdin input{
    width: 93.75%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f3f3f3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #15306b;
    border-radius: 10px;
}

.bottom-page {
    margin-bottom: 5%;
}

.dashboard-page-right .new-apostil-create .muraciet-eden-shexs{
    width: 100%;
    font-size: 16px;
    margin-top: 14px;
    background-color: var(--color-f3f3f3);
    color: var(--color-15306b);
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.dashboard-page-right .new-apostil-create .muraciet-eden-shexs .col-md-11{
    padding: 25px 30px;
}

.dashboard-page-right .new-apostil-create .bashliq{
    font-size: 14px;
    color: var(--color-303030);
    text-align: end;
    font-family: var(--font-work-sans-regular);
}

.dashboard-page-right .new-apostil-create .button-group{
    padding: 1% 0% 0% 10%;
}

.apostil-form {
    max-height: 85%;
    overflow-y: scroll;
}

.dashboard-page-right .new-apostil-create .add-muraciet-eden-shexs {
    padding: 0px;
    text-align: center;
    padding: 8px 30px;
    margin-top: -6px;
}

.dashboard-page-right .new-apostil-create .add-muraciet-eden-shexs label{
    font-size: 11px;
}

.dashboard-page-right .new-apostil-title {
    font-size: 29px;
}

.dashboard-page-right .save-button {
    text-align: center;
    font-size: 10px;
    margin-top: 2%;
    outline: none;
}

.other-filter {
    padding: 16px 30px 10px 33px;
    border-top: 2px solid var(--color-f3f3f3);
}

input {
    outline: none;
}

 button {
    border: 0;
    background-color:#FFFFFF;
    outline: none;
}

.btn-header button {
    outline: none;
}

.dashboard-page-right .save-apostil-user {
    text-align: center;
    font-size: 10px;
    outline: none;
}

.dashboard-page-right .modal-header {
    border-bottom: 0;
}

.dashboard-page-right .modal-footer {
    border-top: 0;
}

.dashboard-page-right .modal-footer .accept {
    border: 0;
    background-color: var(--color-15306b);
    line-height: 1.3;
    width: 17%;
    border-radius: 0;
}

.dashboard-page-right .delete-modal-document {
    text-align: center;
}

.dashboard-page-right .close-delete-modal {
    padding: 1rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.dashboard-page-right .close-delete-modal img {
    width: 16px;
}

.dashboard-page-right .save-button img {
    margin-top: 7px;
}

.dashboard-page-right .new-apostil-title {
    font-size: 29px;
}

.dashboard-page-right .page-title {
    padding: 40px 47px;
    font-size: 30px;
}

.header .title {
    margin-left: 13px;
}

.btn-header-container {
    padding: 0px 10%;
}

.search-bar .buttons input {
    height: 74%;
    width: 80%;
    font-size: 13px;
    padding: 0px 17px;
}

.search-bar .other-filter input {
    height: 74%;
    width: 80%;
    font-size: 13px;
    padding: 0px 17px;
}

.search-bar .other-filter .col-md-4 {
    flex: 0 0 27%;
    max-width: 27%;
}

.search-bar .other-filter .col-md-3 {
    flex: 0 0 19.9%;
    max-width: 19.9%;
}

.active {
    display: show;
}

.other-filter {
    display: none;
}

.search-bar .other-filter select {
    height: 74%;
    width: 80%;
    font-size: 13px;
    padding: 0px 17px;
}

.search-bar .buttons-and-icons input {
    height: 65%;
    width: 80%;
    font-size: 13px;
    padding: 0px 17px;
}

.search-bar .buttons-and-icons select {
    height: 65%;
    width: 80%;
    font-size: 13px;
    padding: 0px 17px;
}

select {
    outline: 0;
}

.btn-header {
    font-size: 13px;
    text-align: center;
    margin-top: 13px;
}

.user-info {
    padding: 2.3rem !important;
}

.user-info a {
    font-size: 15px;
}

.user-info label {
    font-size: 10px;
}

.nav-bar {
    margin-top: 8px;
    border-bottom: 1px solid #FFFFFF;
}

.info-text {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    color: #6d81ac;
    font-family: var(--font-work-sans);
    font-weight: 400;
    margin-top: 8px;
}

.dropdown a {
    color:#FFFFFF;
    text-decoration: none;
}

.dropdown .info-text {
    font-size: 14px;
}

.container-user-info .dropdown-menu {
    background-color:  var(--color-15306b);
    border: 0px;
}

.container-user-info .dropdown {
    margin-top: 10px;
}

.login-center .password-title {
    margin-top: 20px;
}

input:focus {
    outline-width: 0;
}

.login-center input {
    margin-top: -5px;
    border: unset;
    height: 35px;
    width: 70%;
    background-repeat:no-repeat;
    background-position: 11px 9px;
    padding: 4% 4% 4% 10%;
}

.error {
    color: red;
}

.apostil-documents button {
    border: 0;
    background-color: var(--color-f3f3f3);
}

#createApostilUser .error {
    font-size: 0.7rem;
    width: 108%;
    margin-bottom: 14px;
    color: red;
}

@media print {
    body {-webkit-print-color-adjust: exact !important; }
}

.apostil-documents thead th h5 {
    color: var(--color-15306b);
}

.apostil-documents thead {

    border-top: 2px solid var(--color-15306b);
    border-bottom: 3px solid var(--color-15306b);
}

.apostil-documents  {
    background-color: var(--color-f3f3f3);
}
.muraciet-eden-shexsler {
    margin-top: 1%;
    border: 1px #15306b;
    border-style: solid none;
    width: 100%;
    display: none;
    background-color: #f3f3f3;
    margin-left: 0%;
}

.apostil-documents input[type=checkbox] {
    box-shadow: 0px 0px 0px 1px #15306b;
}

.selected-all-th {
    padding: 0px 0px 18px 11px !important;
}

.mur-eden-shexs {
    width: 100%;
    background-color: #f3f3f3;
    margin-left: 0%;
}

.mur-eden-shexs h6 {
    width: 90%;
    word-wrap: break-word;
}

.mur-eden-shexs  .col-md-3 {
    padding: 15px 0px 2px 31px
}

.accepted {
    display: none;
}

.pdf-viewer {
    padding: 30px 0px 0px 80px;
    margin-bottom: 25px;
}

.apostille-title {
    text-align: center;
    color: #000000;
    margin-top: 15px;
}

.space-with-title {
    text-align: center;
    color: #000000;
}

.horizontal-line {
    border-top: 1px solid #000000;
    width: 50%;
}

.sira {
    padding: 5px 19px;
    color: #000000;
}

.info {
    padding: 0;
    color: #000000;
}

.info label {
    padding: 0;
    font-size: 11px !important;
}

.apostill-convetion {
    text-align: center;
    font-size: 8px;
    padding: 0;
    color: #000000;
    margin-top: -7px;
}

.pdf-apostille {
    background-color: #FFFFFF;
    height: 100%;
}

.pdf-change {
    background-color: #FFFFFF;
    height: 100%;
}

.pdf-tools {
    padding: 22px 0px 0px 100px;
}

.pdf-tools .selected-pdf-viewer{
    background-color: #ffffff;
    height: 40px;
    width: 50%;
}

.export-modal-background{
    background-color: var(--color-f3f3f3);
}

.mur-eden-shexs  .col-md-2 {
    padding:15px 0px 2px 31px
}

.mur-eden-shexs  .col-md-1 {
    padding:7px 0px 2px 0px;
}

.apostil-documents  .col-md-2 {
    padding: 10px 0px 0px 45px;
}

.pdf-buttons {
    text-align: center;
    padding: 0px 80px;
}
.apostil-documents  .col-md-1 {
    padding: 10px 0px 0px 47px;
}

.apostil-documents  .col-md-3 {
   padding: 10px 0px 0px 40px;;
}

.muraciet-eden-shexsler .col-md-3 {
    padding: 20px 0px 15px 31px;
}

.apostil-documents-list .col-md-3 {
    padding: 20px 0px 15px 31px;
}

.apostil-documents-list .col-md-2 {
    padding: 20px 0px 15px 31px;
}

.apostil-documents-list .col-md-1 {
    padding: 20px 0px 15px 31px;
}

.apostil-documents-list .col-md-4 {
    padding: 20px 0px 15px 31px;
}

.login-center .login {
    background-color: var(--color-15306b);
    margin-top: 5px;
    height: 30px;
    width: 70%;
    color: var(--color-f3f3f3);
    border: unset;
}

@media (max-width: 768px) {
    .dashboard-page-left {
        min-height: unset;
    }
    .dashboard-page-right {
        min-height: unset;
    }

    .login_form {
        margin-top: unset;
    }
}
